<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="SQLConnection" connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password=" />
    </connectionStrings>

    <appSettings>
       <add key="appName" value="NCOV" />
    </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <authentication mode="Forms">
        <forms cookieless="UseCookies" loginUrl="Default.aspx" name="covid_19" path="/" timeout="3600" />
      </authentication>
      <authorization>
        <allow users="?" />
        <!-- 允许匿名用户 -->
        <!--  <allow     users="[逗号分隔的用户列表]" .\SQLEXPRESS
                                 roles="[逗号分隔的角色列表]"/>
                      <deny      users="[逗号分隔的用户列表]"
                                 roles="[逗号分隔的角色列表]"/>
             -->
      </authorization>

      <!--用户于Session集群共享-->
      <sessionState cookieless="false" mode="StateServer" stateConnectionString="tcpip=10.0.0.1:42424" stateNetworkTimeout="3600" />
      <machineKey validationKey="C5D98E3D980BA52EAEB700D602658033557C98EA3C2C19EBC42062E736352D4496544487194004A4D6B561C95AAEC374D4196CAA9D62947F5C08EDE8C5223372" decryptionKey="665978D8E0E1E82DC9143A09B4D39353D55B0EB51D796F804C821EC4C04B5CBE" validation="SHA1" decryption="AES" />


    </system.web>

  <location path="mana-amdin">
    <system.web>
      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
<location path="bm">
    <system.web>
      <authorization>
        <allow roles="stu" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
