@charset "utf-8";
/* CSS Document */
	#search_box {
    width: 201px;
    height: 26px;
    background: url(../imgs/bg_search_box.gif);
	position:relative; float:right; margin-right:10px;
		}
		#search_box #txt {
			float: left;
			padding: 0;
			margin: 5px 0 0 6px;
			border: 0;
			width: 159px;
			background: none;
			font-size: .8em;
		}
		#search_box #go {
			float: right;
			margin: 3px 4px 0 0;
		}
